body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

@keyframes backgroundCrossFade {
    0% {
        background-image: url(../assets/img/bg0.jpg);
    }
    33% {
        background-image: url(../assets/img/bg1.jpg);
    }
    66% {
        background-image: url(../assets/img/bg2.jpg);
    }
}

@keyframes nameCrossFade {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes finalNameCrossFade {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

body {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../assets/img/bg0.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(8, 26, 62);
    transition: background-image 2s ease-in;
    animation-name: backgroundCrossFade;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

body::before {
    background-color: rgba(8, 26, 62, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    content: " ";
    z-index: -1;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.team-name-container {
    font-size: 32px;
    height: 150px;
    font-style: italic;
    text-transform: uppercase;
    transition: all 500ms ease-in;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.team-name-container::after {
    width: 100%;
    content: " ";
}

.team-name-item {
    opacity: 0;
    margin: 0;
    padding: 0;
    transition: background-image 1s ease-in;
    animation-name: nameCrossFade;
    animation-duration: 3s;
    width: 100%;
    position: absolute;
}

.acebs {
    animation-delay: 3s;
}

.joinville-beisebol {
    animation-name: finalNameCrossFade;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}